aside.ant-layout-sider.ant-pro-sider-layout-side {
	background-color: transparent;
	padding: 5px;
	ul.ant-menu.ant-menu-root.ant-pro-sider-menu {
		background-color: #001529;
		// border-top-right-radius: 6px;
		// border-bottom-right-radius: 6px;
		border-radius: 6px;
	}

	.ant-pro-sider-links {
		ul > li.ant-menu-item.ant-pro-sider-collapsed-button {
			border: none;
		}
	}
}

// div{
//   // outline: 1px solid red;
// }

@media screen and (max-width: 560px) {
	._layout-menu {
		display: none;
	}
}
._layout-content {
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	opacity: 0;
	display: none;
	visibility: hidden;
	background: transparent;
}

.ant-btn input {
	position: absolute;
	font-size: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

.drag_box {
	width: 60%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden {
	z-index: -1;
}

.show {
	z-index: 1;
	border: 2px dotted red;
}
