aside.ant-layout-sider.ant-pro-sider-layout-side {
	background-color: transparent;
	padding: 5px;
	ul.ant-menu.ant-menu-root.ant-pro-sider-menu {
		background-color: #001529;
		// border-top-right-radius: 6px;
		// border-bottom-right-radius: 6px;
		border-radius: 6px;
	}

	.ant-pro-sider-links {
		ul > li.ant-menu-item.ant-pro-sider-collapsed-button {
			border: none;
		}
	}
}

// div{
//   // outline: 1px solid red;
// }

@media screen and (max-width: 560px) {
	._layout-menu {
		display: none;
	}
}
._layout-content {
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	opacity: 0;
	display: none;
	visibility: hidden;
	background: transparent;
}

.ant-btn input {
	position: absolute;
	font-size: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

.drag_box {
	width: 60%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden {
	z-index: -1;
}

.show {
	z-index: 101;
	border: 2px dashed transparent;
	background: linear-gradient(white, white) padding-box,
		repeating-linear-gradient(
			-45deg,
			#ccc 0,
			#ccc 0.25em,
			white 0,
			white 0.75em
		);

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		text-align: center;
		background: #000
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='50%25' y='50%25' font-size='14' fill='%23ffffff' font-family='system-ui, sans-serif' text-anchor='middle' dominant-baseline='middle'%3E视频无法预览%3C/text%3E%3C/svg%3E")
			no-repeat center;
	}
}

.mask {
	&::after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.45);
		z-index: 100;
	}
}

.text-align-right {
	& > input {
		text-align: right;
	}
	& > .ant-input-suffix {
		padding-left: 0px;
	}
}

.todo_custom {
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	// border: 2px dashed #fff;
	padding: 12px;
	background: linear-gradient(to bottom, #d6956b, #b25d4e);
	background-origin: border-box;

	.ant-card-head {
		padding: 0;
		border-bottom: 0;
		.ant-card-head-wrapper {
			.ant-card-head-title {
				padding: 0;
				.progress {
					padding-left: 12px;
					padding-bottom: 6px;
					display: flex;
					align-items: flex-end;
					color: #f0e6d0;
					font-size: 13px;
					font-weight: 500;
				}
				.task {
					width: 50px;
					height: 50px;
					background: url('./static/task.png') no-repeat;
					background-size: cover;
				}
			}

			.ant-card-extra {
				margin-top: -32px;
				margin-right: -12px;
				padding: 0;
				display: flex;
				align-items: flex-start;
				background: transparent;
				.close {
					background: transparent;
					.ant-btn {
						background: transparent;
						border: 0;

						._svg {
							clip-path: #fff;
						}
					}
				}
			}
		}
	}

	.ant-card-body {
		background: #fff;
		min-height: 150px;
		border-radius: 7px;
	}
}
